cx_Oracle
Django==2.2.24
gunicorn==19.9.0
pytz==2019.1
djangocodemirror
django-codemirror-widget
django-chartjs
ipython
PyQt5
qtconsole
ipykernel
Image
psycopg2
requests
requests_html
websockets
subprocess.run
numpy
scipy
scikit-learn
matplotlib
seaborn
pandas
nltk
xlrd
opencv-python
imutils
dill